* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    position: relative;
}
.title h1 {
    color: #D6970A;
    font-family: 'Abril Fatface', cursive;
}

.filterContainer {
    margin: 0 20px;
}

.filterButtons {
    width: 100px;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 5px;
    margin: 10px;
    background-color: #e79a9a;
    font-family: 'Abril Fatface', cursive;
    font-size: 22px;
}

.filterButtons:hover {
    background-color: #D6970A;
}

.menuItems {
    padding-top: 10px;
    background-image: url(images/gradienta.jpg);
    background-size: cover;
}

.itemBackground {
    background-color: rgba(255, 255, 255, 0.527);
}

img {
    border: 2px solid #D6970A;
}

.itemNprice {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Abril Fatface', cursive;
}

.price {
    font-size: 18px;
}

a:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

a:active {
    text-decoration: none;
}

p {
    font-weight: 600;
}

.footer {
    background-color: #dabcee98;
    padding: 15px;
}
